.Game-ol .Game-li{
    columns: 1;
    float: left;
    width: 31%;
    list-style-position: inside;
    margin: 5px;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}

.Game_Name {
    color: red;
    font-family: museo-sans, sans-serif;
    font-size: 25px;
    font-weight: 700;
    z-index: 99;
}

.Game_Info {
    color: black;
    font-family: museo-sans, sans-serif;
    font-size: 15px;
    z-index: 99;
}

.Game_Info2 {
    float: right;
}

.navbar {
    background-color: white;
    border-bottom: solid darkgrey;
    border-bottom-width: thin;
    z-index: 99;
    opacity: 1;
}

nav > li > a:hover{
    color: red; /*Sets the text hover color on navbar*/
}

.nav-item {
    color: black;
    font-family: sans-serif;
}

.main_btn:hover{
    background-color: red;
    color: ghostwhite;
}

.main_btn:focus{
    background-color: red;
    color: ghostwhite;
}

.main_btn:active{
    background-color: red;
    color: ghostwhite;
}
