html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.navbar {
  background-color: white;
  border-bottom: solid darkgrey;
  border-bottom-width: thin;
  z-index: 99;
  opacity: 1;
}

.signcard {
  background-color: #faf9de;
  opacity: 0.8;
  height: 475px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 99;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

a {
  font-family: "Roboto", sans-serif;
  color: red;
}

.btn {
  background-color: black;
  color: ghostwhite;
}

.btn:hover{
  background-color: red;
  color: ghostwhite;
}

.signIcon{
  margin-left: 95px;
}

.form-group{
  margin-top: 5px;
}
